<table>
    <tr>
    <td height="50px" colspan="2" id="idColorUm"></td>
    </tr>
    <tr>
        <td height="40px" colspan="2" ><h2 id="Alin">NOVO TRECHO</h2></td>
    </tr>
</table>


<%= render 'form' %>

<%= link_to 'Back', trechos_path %>
